#app {
    .ant-layout {
        position: absolute;
        width: 100%;
        min-height: 100vh;
        background-color: #f2d5b6;
        .content {
            // padding-top: 64px;
        }
        .header {
            background-color: #004853;
            padding: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 9;
            height: auto;
        }
        .footer {
            height: 320px;
            box-sizing: border-box;
            background-color: #004853;
        }
    }
}
