.banner-content {
    height: 380px;
    position: relative;

    .banner-img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .as-image {
            align-items: flex-end;
            animation: backgroundWalkY 10s linear infinite alternate;
        }

        .as-image-heigher {
            height: 480px;
        }
    }

    @keyframes backgroundWalkY {
        0% {
            transform: translate3d(0, 50px, 0);
        }

        100% {
            transform: translate3d(0, -50px, 0);
        }
    }

    .banner-title {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 42px;
        font-weight: bold;
        color: #004853;
        text-align: center;

        span {
            line-height: 1.5;
            display: inline-block;
            border: 5px dashed #004853;
            border-left: 0;
            border-right: 0;
            background-color: rgba(255, 255, 255, 0.4);
            padding: 0 5px;
        }
    }
}