.notes-content {
    margin: 28px 0;
    padding: 40px;
    border-radius: 20px;
    background-color: #fff;

    .notes-list {
        position: relative;
        padding-left: 30px;

        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            height: calc(100% - 90px);
            top: 16px;
            left: 0;
            width: 2px;
            background: #6da8b1;
        }

        .list-year {
            font-size: 24px;
            line-height: 40px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                display: inline-block;
                height: 20px;
                top: 8px;
                left: -39px;
                box-sizing: border-box;
                width: 20px;
                border: 6px solid #f3a84f;
                border-radius: 50%;
                background: #fff;
            }
        }

        .list-box-info {
            padding-bottom: 20px;
        }
    }

    .pager-content {
        padding: 25px 0 15px;
        text-align: center;

        .ant-pagination {
            text-align: center;
        }
    }

    @media screen and (max-width: 576px) {
        padding: 20px;

        .notes-list {
            padding-left: 20px;

            .list-year {
                &::before {
                    left: -29px;
                }
            }

            .note-list-box {
                height: 180px;
                margin: 0;
                padding: 10px 0;

                &::before {
                    left: -26px;
                }
            }

            .list-box-info {
                padding-bottom: 10px;

                .list-desc {
                    padding-left: 0;
                    height: 160px;

                    .desc-title {
                        font-size: 14px;
                        line-height: 22px;
                        -webkit-line-clamp: 2;
                        padding: 4px 0;
                    }

                    .desc-date,
                    .desc-subtitle {
                        font-size: 10px;
                        line-height: 16px;
                        padding: 4px 0;
                    }

                    .desc-text {
                        padding-top: 4px;
                        font-size: 10px;
                        line-height: 18px;
                    }
                }
            }
        }

        .pager-content {
            padding-top: 10px;
        }
    }
}